@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");  
* {  
 padding: 0;  
 margin: 0;  
 box-sizing: border-box;  
 font-family: "Poppins", sans-serif;  
}  
body {  
 scroll-behavior: smooth;  
}  
.navbar {  
 display: flex;  
 align-items: center;  
 justify-content: space-between;  
 padding: 10px 50px;  
 box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);  
 width: 100vw;  
 position: fixed;  
 background-color: rgb(121, 203, 236);  
 transition: all 0.5s ease-in-out;  
}  
.logo h1 {  
    cursor: pointer;  
   }  
   .nav__links {  
    display: flex;  
    align-items: center;  
    justify-content: center;  
   }  
   .nav__link {  
    margin: 0 10px;  
    color: black;  
    padding: 5px 15px;  
    border-radius: 100px;  
    transition: all 0.5s ease-in-out;  
    text-decoration: none;  
   }  
   .nav__link.active,  
   .nav__link:hover {  
    background-color: black;  
    color: white;  
   }  
   .section {  
    min-height: 100vh;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
   }  
   .section:nth-child(odd) {  
    background-color: rgb(235, 235, 235);  
   }